
server {
    listen  *:80;
    # can't use wildcards in first server_name
    server_name localhost localhost.localdomain;

    root /var/www/html;

    rewrite ^/(.*.php)(/)(.*)$ /$1?file=/$3 last;
    index index.php index.html;

    location ~* \.(jpg|png|gif|jpeg|css|js|doc|pdf|xls|docx|xlsx|odt|odc|ico|html)$ {
	expires 60m;
	if_modified_since before;
    }

    location ~ .php$ {
	try_files $uri =404;
	fastcgi_index index.php;
	fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
	fastcgi_pass unix:/var/run/php8.1-fpm/php8.1-fpm.sock;
	include fastcgi_params;
	fastcgi_buffer_size 128k;
	fastcgi_buffers 256 4k;
	fastcgi_busy_buffers_size 256k;
	fastcgi_temp_file_write_size 256k;
    }

    access_log  /var/log/nginx/access.log;
}

